.slider {
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5% 0 5% 10%;
    /* border: solid red; */
}

.skill {
    font-size: 3rem;
    color:white;
}

.right-arrow {
    position: absolute;
    top: 40%;
    right: 32px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 40%;
    left: 32px;
    font-size: 3rem;
    color: white;
    /* z-index: 10; */
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media (max-width: 360px) {
    .left-arrow {
        font-size: 2.5rem;
        left: 1px;
        top: 42%;
    }    

    .right-arrow {
        font-size: 2.5rem;
        top: 42%;
        right: 1px;
    }

    .skill {
        font-size: 2rem;
    }
}

@media (max-width:414px) {
    .left-arrow {
        font-size: 2.5rem;
        left: 1px;
        top: 42%;
    }    

    .right-arrow {
        font-size: 2.5rem;
        top: 42%;
        right: 1px;
    }

    .skill {
        font-size: 2rem;
    }
}