.slider {
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 30%;
}

.skill {
    font-size: 3rem;
    color:white;
}

.right-arrow {
    position: absolute;
    top: 40%;
    right: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 40%;
    left: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}