
.contact-form {
    padding-bottom: 10%;
}

.email-input {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 5px rgba(0,0,0,0.13);
    margin:10px 0px;
    width: 50%;
    font-size: 1.5rem;
}

.message-input {
    border:0;
    box-shadow:0 0 15px 5px rgba(0,0,0,0.13);
    margin:10px 0px;
    width: 50%;
    height: 200px;
    font-size: 1rem;
    overflow: auto;
    /* row-gap: 3;
    columns: 25; */
    /* word-wrap: break-word; */
}

.email-h3 {
    margin-top: 9%;
}

h3 {
    color: white;
}