
.contact-form {
    padding-bottom: 10%;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    width: 55%;
    margin: 8% 0 0 22.5%;
}

.name-label {
    width: 47%;
}

.name-input {
    padding:10px;
    border: 0;
    box-shadow:0 0 15px 5px rgba(0,0,0,0.13);
    margin:10px 0px;
    width: 85%;
    font-size: 1.5rem;
}

.email-label {
    width: 47%;
}

.email-input {
    padding:10px;
    border: 0;
    box-shadow:0 0 15px 5px rgba(0,0,0,0.13);
    margin:10px 0px;
    width: 85%;
    font-size: 1.5rem;
}

.message-input {
    border:0;
    box-shadow:0 0 15px 5px rgba(0,0,0,0.13);
    margin:10px 0px;
    width: 50%;
    height: 200px;
    font-size: 1rem;
    overflow: auto;
    /* row-gap: 3;
    columns: 25; */
    /* word-wrap: break-word; */
}

.name-h3, .email-h3, .message-h3 {
    font-size: 1rem;
    color: white;
    /* margin-top: 9%;
    width: 50%;
    border: solid red; */
    
}

.get-in-touch {
    color: white;
    font-size: 3rem;
    margin: 5% 0 -5% -36%;
}

.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.popUp-content {
    position: relative;
    padding: 80px;
    width: 100%;
    max-width: 600px;
    background-color: white;
} 

.message-response {
    color: black;
    font-size: 1.3rem;
}

.close-button {
    position: absolute;
    bottom: 70%;
    right: 1%;
    cursor: pointer;
    color: black;
}

.send-button {
    padding: 10px;
    width: 5%;
    margin-top: 1%;
    cursor: pointer;
}

/* media queries */
@media (max-width: 360px){

    .get-in-touch {
        font-size: 2.5rem;
        margin: 4% 0;
    }

    .info-container {
        flex-direction: column;
        width: auto;
        margin: 0 5%;
    }

    .name-label, .email-label {
        width: auto;
    }

    .message-input {
        width: 80%;
        height: 20vh;
    }

    .send-button {
        width: 30%;
    }

    .popUp-content {
        width: 40%;
        height: 5vh;
        border: solid blue;
    }

    .message-response {
        /* border: solid red; */
        padding: auto;
        width: 150%;
        margin: -29% 0 0 -25%;
    }
    
    .close-button {
        top: -8%;
        height: 5vh;
        width: 7%;
    }
}