
.footer-container {
    background-color: rgb(43, 41, 54);
    width: 100%;
    padding: 2%;
    color: white; 
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;

}

.footer-container a {
   color: white;
   font-size: 200%;
   display: inline-block;
}

@media (max-width: 360px) {
    .footer-container {
        width: auto;
        font-size: .8rem;
    }
}

@media (max-width:414px) {
    .footer-container {
        width: auto;
    }
}