 
/*<----- ANIMATIONS ----->  */
@keyframes slide-in-left {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    transform: translateX(-1000);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
} 
/* <-----------|-----------> */


.home {
    display: flex;
    flex-wrap: wrap;
}

.top {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.name {
    display: flex;
    text-align: start;
    font-size: 12rem;
    color: white;
    width: 70%;
    height: 300px;
    margin: 4% 0% 0% 8.5%;
    animation: slide-top 1s both;
    text-shadow: 10px 10px 20px black;
}

.role {
    display: flex;
    text-align: start;
    font-size: 3rem;
    font-weight: lighter;
    color: white;
    width: 70%;
    height: 200px;
    margin: 0% 0% 0% 9%;
    animation: slide-top 1s both;
    text-shadow: 6px 6px 6px black;
}

.links {
    text-align: end;
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 7.5% 0% 0 -5%;
    height:17%;
    width: 15%;
    text-shadow: 4px 4px 3px black;
}

.linkedin {
  text-decoration: none;
}
.linkedin p {
    animation: slide-in-right 2s both;
    width: 35%;
    margin-left: 65%;
    color: white;
    text-align: center;
}

.Github {
  text-decoration: none;
}
.Github p {
    animation: slide-in-right 2.5s both;
    width: 35%;
    margin-left: 65%;
    color: white;
    text-align: center;
}

.resume {
  text-decoration: none;
}
.resume p {
    animation: slide-in-right 3s both;
    width: 35%;
    margin-left: 65%;
    color: white;
    text-align: center;
}

/* .btn-home {
    border-radius: 10px;
    background-color: rgb(43, 41, 54);;
    padding: .5%;
    font-size: 2rem;
    color: rgb(117, 117, 129);
    text-decoration: none;
    margin: 7% 0 0 46%;
    animation: bounce-top 1.5s both;
    
}

.btn-home:hover {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color: white;
}

.hidden {
  display:none;
 }
 .btn-home:hover span.visible{
  display:none;
 }
 .btn-home:hover span.hidden{
  display:block;
 } */

h3 {
    color: white;
}

.mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 10% 0 5% 0;
  padding: 7%;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2.5rem;
    margin: 0% 0% 0% 0%;
    width: 45%;
    padding: 0% 2%;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);

}

.about-me-container h2, p{
  color: white;
  font-size: 1.5rem;
  margin: 5% 0;
}

.carousel-container {
  width: 50%;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
}

.carousel-container h2 {
  color: white;
  font-size: 2rem;
  margin: 3% 0 -5% 0;
}

/* @keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
*/

/* media queries */

@media(max-width: 360px) {
  .top {
    /* border: solid blue; */
  }

  .name {
    font-size: 3.5rem;
    height: auto;
    width: auto;
    /* border: solid red; */
    margin: auto;
  }

  .role {
    font-size: 1.5rem;
    /* border: solid red; */
    height: auto;
    width: auto;
    margin: auto;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid red; */
    width: 73%;
    height: 60%;
    margin: auto;
    /* margin-left: 10%; */

  }
  
  .links p {
    font-size: 15px;
    width: 100%;
    margin: auto;
  }

  .mid {
    flex-direction: column;
  }

  .about-me-container{
    width: auto;
    padding: 2% 7%;
    margin: 7% 0;
  }  

  .about-me-container p,h2{
    font-size: 1rem;
  }

  .carousel-container {
    width: auto;
    padding-top: 5%;
  }

  .carousel-container h2{
    font-size: 1.7rem;
    margin-bottom: -9% ;
  }
}

@media (max-width:480px) {
  .top{
    padding-left: 5%;
  }
  .name {
    font-size: 4rem;
    width: auto;
    height: auto;
    margin-right: 5%;
  }

  .role {
    font-size: 2rem;
    width: auto;
    height: auto;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 73%;
    height: 50%;
    margin-left: 10%;
  }

  .links p{
    font-size: 1rem;
    width: 100%;
    margin: auto;
  }

  .mid {
    flex-direction: column;
  }

  .about-me-container{
    width: auto;
    padding: 2% 7%;
    margin: 7% 0;
  }  

  .about-me-container p,h2{
    font-size: 1rem;
  }

  .carousel-container {
    width: auto;
    height: 25vh;
    padding-top: 5%;
  }

  .carousel-container h2{
    font-size: 1.7rem;
    margin-bottom: -20%;

  }
}

@media (max-width: 768px) {
  .name {
    font-size: 7rem;
    width: auto;
    height: auto;
    margin-right: 5%;
  }

  .role {
    font-size: 2rem;
    width: auto;
    height: auto;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 73%;
    height: 50%;
    margin-left: 10%;
  }

  .links p{
    font-size: 1.5rem;
    width: 100%;
    margin: auto;
  }

  .mid {
    flex-direction: column;
  }

  .about-me-container{
    width: auto;
    padding: 2% 7%;
    margin: 7% 0;
  }  

  .about-me-container h2{
    font-size: 2rem;
  }

  .carousel-container {
    width: auto;
    height: 25vh;
    padding-top: 5%;
  }

  .carousel-container h2{
    font-size: 2rem;
    margin-bottom: -15%;

  }

}