/* animations */
@keyframes slide-in-bottom {
    0% {
      /* -webkit-transform: translateY(1000px); */
              transform: translateY(70px);
      opacity: 0;
    }
    100% {
      /* -webkit-transform: translateY(0); */
              transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
      /* -webkit-transform: translateX(1000px); */
              transform: translateX(300px);
      opacity: 0;
    }
    100% {
      /* -webkit-transform: translateX(0); */
              transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slide-in-left {
    0% {
      /* -webkit-transform: translateX(1000px); */
              transform: translateX(-300px);
      opacity: 0;
    }
    100% {
      /* -webkit-transform: translateX(0); */
              transform: translateX(0);
      opacity: 1;
    }
}
/* <-------------------------------------------> */


.projects-container-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 4%;
}

.project {
    background-color: rgb(43, 41, 54);
    display: flex;
    flex-direction: row-reverse;
    padding: .5%;
    width: 75%;
    height: 60vh;
    margin: 0 0 6% 12%;
    box-shadow: 0 0.50em 0.7em 0 rgba(0, 0, 0, 0.726);
}

.project-img {
    width: 75%;
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 4%;
}

.project-title {
    color: white;
    margin-top: 2%;
    font-size: 2.5rem;
    width: 100%;
    /* border: solid red; */
    
}

.description {
    color: white;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-size: 1.3rem;
}

.project-info a {
    text-decoration: none;
}


/* media queries */
@media (max-width:1280px) {
    .project {
        flex-direction: column;
        padding: 2%;
        width: auto;
        height: auto;
        border-radius: 10px;
        margin: 7% 8%;
    }

    .project-img {
        width:100%;
        height: 55vh;
    }

    .project-info {
        width:auto;
        height: auto;
    }

    .project-info h2{
        font-size: 3rem;
        width: 100%;
        margin-bottom: -6%;
    }

    .project-info p{
        font-size: 1.8rem;
        width: 100%;
    }
}

@media (max-width:1024px) {
    .project {
        flex-direction: column;
        padding: 2%;
        width: auto;
        height: auto;
        border-radius: 10px;
        margin: 7% 8%;
    }

    .project-img {
        width:100%;
        height: 55vh;
    }

    .project-info {
        width:auto;
        height: auto;
    }

    .project-info h2{
        font-size: 3rem;
        width: 100%;
        margin-bottom: -6%;
    }

    .project-info p{
        font-size: 1.8rem;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .project {
        flex-direction: column;
        padding: 2%;
        width: auto;
        height: auto;
        border-radius: 10px;
        margin: 7% 8%;
    }

    .project-img {
        width:100%;
        height: 40vh;
    }

    .project-info {
        width:auto;
        height: auto;
    }

    .project-info h2{
        font-size: 2.5rem;
        width: 100%;
    }

    .project-info p{
        font-size: 1.5rem;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .project {
        flex-direction: column;
        padding: 2%;
        width: auto;
        height: auto;
        border-radius: 10px;
        margin: 7% 6%;
    }

    .project-img {
        width:100%;
        height: 30vh;
    }

    .project-info {
        width:auto;
        height: auto;
    }

    .project-info h2{
        font-size: 1.5rem;
        width: 100%;
    }

    .project-info p{
        font-size: .7rem;
        width: 100%;
    }
}

@media (max-width: 360px) {
    .project {
        flex-direction: column;
        padding: 2%;
        width: auto;
        height: auto;
        border-radius: 10px;
        margin: 7% 6%;
    }

    .project-img {
        width:100%;
        height: 30vh;
    }

    .project-info {
        width:auto;
        height: auto;
    }

    .project-info h2{
        font-size: 1.5rem;
        width: 100%;
    }

    .project-info p{
        font-size: .7rem;
        width: 100%;
    }
}
